/* remove thic comment to add @import font or CSS variables at the top of this file */


@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');



* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 1.1rem;
  min-width: 100%;
}

/* Layout */

section {
  float: left;
  width: 65%;
}

aside {
  float: left;
  width: 20%;
}

nav {
  float: left;
  width: 15%;
  height: 35rem;
}

footer {
  clear: both;
} 

header, section, aside, nav {
  padding: 20px;
}

/* header and footer */

/* WRITE YOUR styling/typesetting CSS code BELOW HERE */



header{
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  text-align: center;
  color:#faf3e0 ;
  background-color:#708090;
}

body{
  font-family: "Forum", serif;
  font-weight: 400;
  color: #2f4156;
  font-style: normal;
  background-color: #faf3e0;
}

aside{
  height: 35rem;
}

aside li {
  padding-top: 5px;
  padding-bottom: 5px;
}

nav ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
  margin: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  
}

nav ul li {

  background-color: #708090; /* Button color */
  color: white; /* Text color */
  padding: 10px 20px;
  text-align: center;
  border: none;
  margin: 26px 0; /* Space between buttons */
  cursor: pointer;
  font-size: 16px;
  width: 8rem;
}

nav ul li a {
  text-decoration: none; /* Remove underline */
  color: white;
  display: block; /* Make the link fill the button */
}

nav{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

nav ul :hover{
  background-color: #40566f;
}

section p a{
  color: #0f1a2b ;

}

section p{ 
  text-indent:1.25rem; 
}

img{
  height: 0.8rem;
  width: 0.8rem;
  margin-left: 0.2rem;
}

aside a{
  color: #0f1a2b ;
}

aside h2{
  text-align: center;
}

footer{
  text-align: center;
}

section ol li a{
  color: #0f1a2b ;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #f5efeb;
  border-style:solid;

  border-top-width: 0.1rem;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-color: #576a88; 

}

* a:hover{
  text-decoration: none;
}

section p a::after {
  content: "";
  display: inline-block;
  width: 0.8rem; /* Adjust as needed */
  height: 0.8rem; /* Adjust as needed */
  background-image: url('external-link-52.png'); /* Replace with your image path */
  background-size: cover;
  margin: 0 0.2rem;
}
